<!DOCTYPE html>
<html>
<head>
  <title>FrancisCmsMicropub</title>
  <%= stylesheet_link_tag    "francis_cms_micropub/application", media: "all" %>
  <%= javascript_include_tag "francis_cms_micropub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
